
@{
    ViewData["Title"] = "Acerca de";
}
<div>
    <h1>Acerca de</h1>
    <section>
        <h3>Encabazado 1</h3>
        <article>
            <p>Esto es el primer articulo</p>
        </article>
        <article>
            <p>Esto es el segundo articulo</p>
        </article>
    </section>
    <section>
        <h3>Encabazado 2</h3>
        <article>
            <p>Esto es el primer articulo</p>
        </article>
        
    </section>
    <section>
        <h3>Encabazado 3</h3>
        <article>
            <p>Esto es el primer articulo</p>
        </article>
        <article>
            <p>Esto es el segundo articulo</p>
        </article>
    </section>
</div>


