@{
    ViewData["Title"] = "Privacy Policy";
}


<div>
    <h1>@ViewData["Title"]</h1>
    <section>
        <article>
            <img src="~/img/LOGO.png" />
        </article>
        <article>
            <img src="https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFpc2FqZXMlMjBoZXJtb3Nvc3xlbnwwfHwwfHw%3D&w=1000&q=80" width="400" height="400"/>
        </article>

        <h3>Tabla</h3>
        <table width="300" border="5" align="center">
            <tbody bgcolor="darkgray">
                <tr bgcolor="gray">
                    <th>Primer dato</th>
                    <th>Segundo dato</th>
                    <th>tercer dato</th>
                </tr>
                <tr style="color:orange">
                    <td>1</td>
                    <td>a</td>
                    <td>a1</td>
                </tr>
                <tr style="color:aqua">
                    <td>2</td>
                    <td>b</td>
                    <td>a2</td>
                </tr>
                <tr style="color:chartreuse">
                    <td>3</td>
                    <td>c</td>
                    <td>a3</td>
                </tr>
            </tbody>
        </table>

    </section>
    <p>Use this page to detail your site's privacy policy.</p>
</div>

